*{
    margin: 0 auto;
    padding:0;
    font-family: sans-serif;
}
body{
    width: 1000px;
    background-color: #272640;
    color: white;
}

h2{
    padding: 20px;
    color: white;
}

.wrapper{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    
}
.content{
    border-radius: 30px;
    margin-top: 200px;
    width: 300px;
    height: 350px;
    background-color:#4d194d ;
    box-shadow: 0 0 10px rgb(162, 0, 255);
}

input[type = "text"],input[type = "password"]{
    text-align: center;
    padding: 14px 10px;
    background: none;
    display: block;
    margin:20px auto;
    border: 2px solid #006466;
    width: 120px;
    outline: none;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 0.3s;
}
input[type = "text"]:focus,input[type = "password"]:focus{
    width: 200px;
    border: 2px solid #01d8df;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 0.3s;
}

input[type = "submit"]{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color:white;
    font-size: 20px;
    background-color:transparent;
    transition: 0.3s;
    border: none;
}
input[type = "submit"]:hover{
    background-color:rgb(162, 0, 255) ;
    cursor: pointer;
    transition: 0.3s;
}

